<fieldset>
  <form (ngSubmit)="create()" [formGroup]="eventForm" id="eventsFormAng">
    <label for="eventsFormAng">Nouvel évènement</label>
    <div>
      <label>Nom de l'évènement</label>
    </div>
    <div>
      <input type="text" formControlName="name">
    </div>
    <div>
      <div *ngIf="eventForm.get('name')?.dirty  &&  eventForm.get('name')?.hasError('required')"   >champ obligatoire</div>
    </div>
    <div>
      <label>Description</label>
    </div>
    <div>
      <input type="text" formControlName="description" placeholder="facultatif">
    </div>
    <div>
      <label for="inputDatetimeDebut">Début</label>
    </div>
    <div>
      <input type="datetime-local" id="inputDatetimeDebut" name="inputDatetimeDebut" formControlName="date_debut_timestamp"
           placeholder="yyyy-MM-ddTHH:mm" required />
    </div>
    <div>
      <div *ngIf="eventForm.get('date_debut_timestamp')?.dirty  &&  eventForm.get('date_debut_timestamp')?.hasError('required')"   >champ obligatoire</div>
    </div>
    <div>
      <label for="inputDatetimeFin">Fin</label>
    </div>
    <div>
      <input type="datetime-local" id="inputDatetimeFin" name="inputDatetimeFin" formControlName="date_fin_timestamp"
           placeholder="yyyy-MM-ddTHH:mm"  required />
    </div>
    <div>
      <div *ngIf="eventForm.get('date_fin_timestamp')?.dirty  &&  eventForm.get('date_fin_timestamp')?.hasError('required')"   >champ obligatoire</div>
    </div>
    <input type="hidden" formControlName="user_id">
    <div>
      <input type="submit" value="Valider" [disabled]="eventForm.invalid">
    </div>
  </form>
</fieldset>
