<fieldset>
  <form (ngSubmit)="create()" [formGroup]="eventForm" id="eventsFormAng">
    <label id="titreNewEvent" for="eventsFormAng">Nouvel évènement</label>
    <div>
      <label class="titres">Nom de l'évènement</label>
    </div>
    <div>
      <input class="inputs" type="text" formControlName="name">
    </div>
    <div>
      <div style="color: red;" *ngIf="eventForm.get('name')?.dirty  &&  eventForm.get('name')?.hasError('required')"   >champ obligatoire</div>
    </div>
    <div>
      <label class="titres">Description</label>
    </div>
    <div>
      <input class="inputs" type="text" formControlName="description" placeholder="facultatif">
    </div>
    <div>
      <label class="titres" for="inputDatetimeDebut">Début</label>
    </div>
    <div>
      <input class="inputs" type="datetime-local" id="inputDatetimeDebut" name="inputDatetimeDebut" formControlName="date_debut_timestamp"
           placeholder="yyyy-MM-ddTHH:mm" required />
    </div>
    <div>
      <div style="color: red;" *ngIf="eventForm.get('date_debut_timestamp')?.dirty  &&  eventForm.get('date_debut_timestamp')?.hasError('required')">champ obligatoire</div>
    </div>
    <div>
      <div style="color: red;" *ngIf="eventForm.get('date_debut_timestamp')!.value!.valueOf()! >= eventForm.get('date_fin_timestamp')!.value!.valueOf()!">
        La date/heure de début doit être inférieure à la date/heure de fin</div>
    </div>
    <div>
      <label class="titres" for="inputDatetimeFin">Fin</label>
    </div>
    <div>
      <input class="inputs" type="datetime-local" id="inputDatetimeFin" name="inputDatetimeFin" formControlName="date_fin_timestamp"
           placeholder="yyyy-MM-ddTHH:mm"  required />
    </div>
    <div>
      <div style="color: red;" *ngIf="eventForm.get('date_fin_timestamp')?.dirty  &&  eventForm.get('date_fin_timestamp')?.hasError('required')">champ obligatoire</div>
    </div>
    <div>
      <div style="color: red;" *ngIf="eventForm.get('date_debut_timestamp')!.value!.valueOf()! >= eventForm.get('date_fin_timestamp')!.value!.valueOf()!">
        La date/heure de fin doit être supérieure à la date/heure de début</div>
    </div>
    <input type="hidden" formControlName="user_id">
    <div>
      <input class="inputs" type="submit" value="Valider" [disabled]="eventForm.invalid">
    </div>
  </form>
</fieldset>
