<div class="intro-y box mt-2">
  <div class="flex flex-col sm:flex-row items-center p-5 border-b border-darkmode-400">
    <h2 class="font-medium text-xl mr-auto">Résumé mensuel des évènements</h2>
  </div>

  <div class="text-right mt-3">
    <button (click)="openPDF()" class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Export Pdf</button>
    <button (click)="sendMail()" class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Export Email</button>
  </div>
  <div class="mt-3 text-center text-lg">
    <button class="button" (click)="previousMonth()" class="btn btn-outline-secondary py-3 px-4 mr-3 align-top">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="skip-back" data-lucide="skip-back" class="lucide lucide-skip-back block mx-auto">
        <polygon points="19 20 9 12 19 4 19 20"></polygon>
        <line x1="5" y1="19" x2="5" y2="5"></line>
      </svg>
    </button>
    {{actualMonth}}
    <button class="button" (click)="nextMonth()" class="btn btn-outline-secondary ml-3 py-3 px-4 xl:mr-3 align-top ">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="skip-forward" data-lucide="skip-forward" class="lucide lucide-skip-forward block mx-auto">
        <polygon points="5 4 15 12 5 20 5 4"></polygon>
        <line x1="19" y1="5" x2="19" y2="19"></line>
      </svg>
    </button>
  </div>
  <div *ngIf="eventsList.length === 0 || eventsList === null">
    <p class="mt-5 text-center text-red-900 text-lg font-bold mb-3">Aucun évènement à afficher...</p>
  </div>
  <div id="htmlData">
    <li *ngFor="let event of this.eventsList" [value]="event" class="list-none" >
        <div class="text-center xl:w-[25%] mx-auto">
          <div class="mt-5 border border-darkmode-400 rounded-md p-5 bg-[#232d45]">
            <h3>{{event.date_debut_timestamp*1000 | date: 'dd/MM/yyyy HH:mm'}}</h3>
            <p>{{event.name}}</p>
            <p>{{event.description}}</p>
          </div>
        </div>
    </li>
  </div>
  <div *ngIf="mois!==0" class="text-center">
    <p (click)="reset()" class="btn btn-outline-secondary py-1 px-2 mb-3">Mois actuel</p>
  </div>
</div>

