<div id="divListe">
  <div>
    <h1>RESUME MENSUEL DES EVENEMENTS</h1><br>
  </div>
  <button (click)="openPDF()">Export Pdf</button>
  <button (click)="sendMail()">Export Email</button>
  <div>
    <p>{{actualMonth}}</p>
  </div>
  <div>
    <button (click)="previousMonth()">Précédent</button>
    <button (click)="nextMonth()">Suivant</button>
  </div>
  <div *ngIf="eventsList.length === 0 || eventsList === null">
    <p>Aucun évènement à afficher...</p>
  </div>
  <ul  id="htmlData">
    <li *ngFor="let event of this.eventsList" [value]="event">
      <fieldset>
        <div>
          <h3>{{event.date_debut_timestamp*1000 | date: 'dd/MM/yyyy HH:mm'}}</h3>
          <p>{{event.name}}</p>
          <p>{{event.description}}</p>
        </div>
      </fieldset>
    </li><br>
  </ul>
  <div *ngIf="mois!==0">
    <p (click)="reset()">Revenir au mois actuel</p>
  </div>
</div>

