

<div id="meteo" (click)="detailMeteo(donnee)">
    <!-- <div id="ville">{{ville}}</div>
    <div id="temperature">{{temperature}}°C</div>
    <div id="condition">{{condition}}% d'humidité</div>
    <img src="{{icon}}" alt=""> -->
    <div id="ville">{{donnee.city_info.name}}</div>
    <div id="vent">{{donnee.current_condition.condition}}</div>
    <div id="temperature">{{donnee.current_condition.tmp}}°C</div>
    <img src="{{donnee.current_condition.icon_big}}" alt="" class="justify-items-center">

    <!-- <div *ngIf="toggle" class="wrapper">
        <app-forecast *ngFor="let forecast of forecasts" [forecast]="forecast" ></app-forecast>
    </div> -->

    <!-- <input type="button" value="Supprimer" (click)="supprimer()"> -->
</div>
