<app-nav-bar></app-nav-bar>
<div> Planning de {{user.firstName}} {{user.lastName}}</div>
<div>
  <div>
    <button (click)="toDaily()">Day</button>
  </div>
  <div>
    <button (click)="toWeekly()">Week</button>
  </div>
  <div>
    <button (click)="toMonthly()">Month</button>
  </div>
</div>
<div *ngIf="calendarView=='daily'">
  <app-resume-journee [id]="id"></app-resume-journee>
</div>
<div *ngIf="calendarView=='weekly'">
  <app-resume-semaine [id]="id"></app-resume-semaine>
</div>
<div *ngIf="calendarView=='monthly'">
  <app-resume-mois [id]="id"></app-resume-mois>
</div>
<app-event-form *ngIf="write" [id]="id" (notifyParent)="getNotification($event)" ></app-event-form>
