<p>contact-detail works!</p>

<div>
    <p> Nom : {{contact.collaborator.lastName}}</p>
    <p> Prenom : {{contact.collaborator.firstName}}</p>
    <p> Email : {{contact.collaborator.email}}</p>
    <p> Telephone : {{contact.collaborator.telephone}}</p>
</div>

<div>
    <h3>droit sur le contact</h3>
    <!-- <div *ngFor="let priv of contactPrivileges">
        <p>{{priv.name}}</p>
    </div> -->

    <div *ngFor="let priv of contact.calendarPrivileges">
        <p>{{priv.name}}</p>
        <input type="checkbox" disabled [checked]="priv.status"/>
    </div>

</div>

<div>
    <h3>droit du contact sur moi</h3>

    <!-- <div *ngFor="let priv of userPrivileges">
        <p>{{priv.name}}</p>
        <input type="checkbox" [checked]="priv.status" (change)="changeCheckbox($event,priv)"/>
    </div> -->

    <h3>liste des droits</h3>
    <div *ngFor="let priv of calendarPrivileges">
        <p>{{priv.name}}</p>
        <input type="checkbox" [checked]="isValid(priv)" (change)="changeCheckbox($event,priv)"/>
    </div>


</div>

