<div>
    <p> Nom : {{contact.collaborator.lastName}}</p>
    <p> Prenom : {{contact.collaborator.firstName}}</p>
    <p> Email : {{contact.collaborator.email}}</p>
    <p> Telephone : {{contact.collaborator.telephone}}</p>
</div>

<div>
    <h3>droit sur le contact</h3>

    <div *ngFor="let priv of calendarPrivileges">
        <p>{{priv.name}}</p>
        <input type="checkbox" disabled [checked]="isValidC(priv)" (change)="changeCheckbox($event,priv)"/>
    </div>


    <h3>liste des droits du contact sur moi</h3>

    <div *ngFor="let priv of calendarPrivileges">
        <p>{{priv.name}}</p>
        <input type="checkbox" [checked]="isValid(priv)" (change)="changeCheckbox($event,priv)"/>
    </div>


</div>
