<div id="divListe">
  <div>
    <h1 id="titreResumeWeek">RESUME HEBDOMADAIRE DES EVENEMENTS</h1><br>
    <div>
      <div>
        <p>Semaine du {{actualMonday.getDate()}}/{{actualMonday.getMonth()+1}} au
        {{sunday.getDate()}}/{{sunday.getMonth()+1}}</p>
    </div>
    <button class="button" (click)="previousWeek()">Précédent</button>
    <button class="button" (click)="nextWeek()">Suivant</button>
  </div>
  <div *ngIf="eventsList.length === 0 || eventsList === null">
    <p>Aucun évènement à afficher...</p>
  </div>
  <!---->
  <div>
  </div>

  <!--<table>
    <thead>
      <ul>
        <li id="divWeeklyHead" *ngFor="let dayK of this.daysMap.keys()" [value]="dayK">{{dayK}}</li>
      </ul>
    </thead>
    <tbody>
    <tr>
      <ul>
        <li id="divWeeklyBody" *ngFor="let dayV of this.daysMap.values()" [value]="dayV">{{dayV}}</li>
      </ul>
    </tr>
    </tbody>
  </table> -->

  <ul>
    <li id="divElement" *ngFor="let event of this.eventsList" [value]="event">
      <fieldset>
        <div>
          <h3>{{event.date_debut_timestamp*1000 | date: 'dd/MM/yyyy HH:mm'}}</h3>
          <p>{{event.name}}</p>
          <p>{{event.description}}</p>
        </div>
      </fieldset>
    </li><br>
  </ul>
  <div *ngIf="semaine!==0">
    <button class="button" (click)="reset()">Revenir à la semaine en cours</button>
  </div>
  </div></div>
