<h1 class="text-3xl font-bold underline">
    Merci de vous connecter
</h1>

<form (ngSubmit)="login()" [formGroup]="loginForm">

    <div>
        <label> Username</label>
    </div>
    <div>
        <input type="text" formControlName="username">
    </div>
    <div>
        <div style="color: red;" *ngIf="loginForm.get('username')?.dirty  &&  loginForm.get('username')?.hasError('required')"   > champ obligatoire</div>
    </div>
    <div>
        <div style="color: red;" *ngIf="loginForm.get('username')?.touched  &&  loginForm.get('username')?.hasError('minlength')"   > saisie invalide (minimum trois caractères)</div>
    </div>
    <div>
        <label> Password</label>
    </div>
    <div>
        <input type="password" formControlName="password">
        </div>
    <div>
        <div style="color: red;" *ngIf="loginForm.get('password')?.dirty  &&  loginForm.get('password')?.hasError('required')"   > saisie invalide (minimum cinq caractères)</div>
    </div>
    <div>
        <div style="color: red;" *ngIf="loginForm.get('password')?.touched  &&  loginForm.get('password')?.hasError('minlength')"   > saisie invalide (minimum cinq caractères)</div>
    </div>

    <div>
        <input type="submit" value="Connecter" [disabled]="loginForm.invalid">
    </div>
    <div>
        <div style="color: red;" *ngIf="loginError"   > Mauvais username/password</div>
    </div>
   
    
</form>