<h1 class="text-3xl font-bold underline">
    Création d'un nouvel utilisateur
</h1>

<form (ngSubmit)="create()" [formGroup]="userForm">

    <div>
        <label>Nom</label>
    </div>
    <div>
        <input type="text" formControlName="lastName">
    </div>
    <div>
        <div style="color: red;" *ngIf="userForm.get('lastName')?.dirty  &&  userForm.get('lastName')?.hasError('required')"   >champ obligatoire</div>
    </div>
    <div>
        <label>Prenom</label>
    </div>
    <div>
        <input type="text" formControlName="firstName">
        </div>
    <div>
        <div style="color: red;" *ngIf="userForm.get('firstName')?.dirty  &&  userForm.get('firstName')?.hasError('required')"   >champ obligatoire </div>
    </div>
    <div>
        <input type="submit" value="Valider" [disabled]="userForm.invalid">
    </div>

   
    
</form>