
<app-nav-bar></app-nav-bar>
<h1 class="text-3xl font-bold underline" *ngIf="user!=null">
    Modification de l'utilisateur {{user.lastName}}  {{user.firstName}}
</h1>

<form (ngSubmit)="update()" [formGroup]="userForm">

    <div>
        <label>Nom</label>
    </div>
    <div>
        <input type="text" formControlName="lastName">
    </div>
    <div>
        <div style="color: red;" *ngIf="userForm.get('lastName')?.dirty  &&  userForm.get('lastName')?.hasError('required')"   >champ obligatoire</div>
    </div>
    
    <div>
        <label>Prenom</label>
    </div>
    <div>
        <input type="text" formControlName="firstName">
        </div>
    <div>
        <div style="color: red;" *ngIf="userForm.get('firstName')?.dirty  &&  userForm.get('firstName')?.hasError('required')"   >champ obligatoire </div>
    </div>

    <div>
        <label>Nom d'utilisateur</label>
    </div>
    <div>
        <input type="text" formControlName="userName">
        </div>
    <div>
        <div style="color: red;" *ngIf="userForm.get('userName')?.dirty  &&  userForm.get('userName')?.hasError('required')"   >champ obligatoire </div>
    </div>


    <div>
        <label>Role de l'utilisateur</label>
    </div>
    <div>
        <select name="role" id="role" formControlName="role">
            <option *ngFor="let role of roles; let k = index" [ngValue]="role">
                {{role.name}}
            </option>
        </select>
    </div>


    <div >
        <label for="role">Role de l'utilisateur 2</label>
        <select name="role" id="role" formControlName="role">
          <option value=""></option>
          <option *ngFor="let role of roles; let k = index" [ngValue]="roles[k]">{{ roles[k].name }}</option>
        </select>
      </div>


    <div>
        <input type="submit" value="Valider" [disabled]="userForm.invalid">
    </div>
   
    
</form>